<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div
      class="card shadow-2-strong"
      style="border-radius: 1rem; width: 100%; height: 100%"
    >
      <div class="card-body p-5 text-center">
        <h5 class="mb-2">Actualizar Maquina Virtual</h5>
        <div data-mdb-input-init class="form-outline mb-4 text-start">
          <label class="form-label">Ingrese id de maquina virtual:</label>
          <input
            type="number"
            class="form-control form-control"
            #idVmInput="ngModel"
            name="idVm"
            [(ngModel)]="idVm"
            required
            min="1"
            placeholder="id de maquina virtual"
          />
          <br>
          <button
            type="button"
            class="btn btn-info d-block w-80"
            (click)="searchById()"
          >
            Buscar
          </button>
          <br>
          <div *ngIf="idVmInput.invalid && idVmInput.touched" class="text-danger mt-1">
            <small *ngIf="idVmInput.errors!['required']">El campo id de maquina virtual es obligatorio.</small>
            <small *ngIf="idVmInput.errors!['min']">El id de maquina virtual debe ser mayor a cero.</small>
          </div>
          <label class="form-label">Cores:</label>
          <input
            type="number"
            class="form-control form-control"
            #coresInput="ngModel"
            name="cores"
            [(ngModel)]="cores"
            required
            min="1"
            placeholder="Cores de la cpu"
            [disabled]="isDisabledInputs"
          />
          <br />
          <label class="form-label">Ram:</label>
          <input
            type="number"
            class="form-control form-control"
            #ramInput="ngModel"
            name="ram"
            [(ngModel)]="ram"
            required
            min="1"
            placeholder="Ram en GB"
            [disabled]="isDisabledInputs"
          />
          <br />
          <label class="form-label">Disco:</label>
          <input
            type="number"
            class="form-control form-control"
            #discInput="ngModel"
            name="disc"
            [(ngModel)]="disc"
            required
            min="1"
            placeholder="Disco en GB"
            [disabled]="isDisabledInputs"
          />
          <br>
          <label class="form-label">Sistema Operativo:</label>
          <select
            class="form-control form-control"
            #soInput
            [(ngModel)]="selectedOS"
            name="operatingSystem"
            [disabled]="isDisabledInputs"
          >
            <option *ngFor="let os of operatingSystems" [value]="+os.value">
              {{ os.label }}
            </option>
          </select>

          <div *ngIf="coresInput.invalid && coresInput.touched" class="text-danger mt-1">
            <small *ngIf="coresInput.errors!['required']">El campo cores es obligatorio.</small>
            <small *ngIf="coresInput.errors!['min']">El número de cores debe ser mayor a cero.</small>
          </div>
          <div *ngIf="ramInput.invalid && ramInput.touched" class="text-danger mt-1">
            <small *ngIf="ramInput.errors!['required']">El campo ram es obligatorio.</small>
            <small *ngIf="ramInput.errors!['min']">El número de Gb de ram debe ser mayor a cero.</small>
          </div>
          <div *ngIf="discInput.invalid && discInput.touched" class="text-danger mt-1">
            <small *ngIf="discInput.errors!['required']">El campo disco es obligatorio.</small>
            <small *ngIf="discInput.errors!['min']">El número de Gb de disco debe ser mayor a cero.</small>
          </div>
          <br><br>

          <div class="d-flex flex-column h-100">
          <button
            type="button"
            class="btn btn-success d-block w-80"
            [disabled]="coresInput.invalid || ramInput.invalid || discInput.invalid"
            (click)="update()"
          >
            Actualizar
          </button>
          <br>
          <button
            type="button"
            class="btn btn-primary d-block w-80"
            routerLink="/vms"
            routerLinkActive="active"
          >
            Cancelar
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
